body {
  font-family: 'Source Sans Pro', sans-serif;
  margin:0px;
  border:0px;
}
ul {
  list-style-type: none;
}

a {
  background-color: #DCAC74;
  text-decoration: none;
  color: white;
  border-radius: .5rem;
  transition: all .3s;
}

/* Styles for the hero image */
.hero {
   background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('https://images.unsplash.com/photo-1525445842399-d8a6bec24be2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') center;
  background-size: cover;
padding: 2rem 2rem;
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  
}
.hero > h1 {
  font-size: 4rem;
  padding-bottom: ;
}
.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}
.hero > article > a {
  padding: 1rem;
  margin-top: rem;
}
  .hero > h1,p {
  color: white;
}
/* features styles */
.features{
  padding: 2rem;
}
.features >ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
.features > ul > li > figure {
  max-height: 220px;
  overflow: hidden;  
   border-radius: .5rem;
    position: relative;
}
.features > ul > li > figure > img {
  width: 100%;
}
.features > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;}

.features > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .5rem;
  font-size: 1rem;
}
.features > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  position: relative;
   }
.features > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
  margin-bottom: 50px;
  }
.features > ul > li > a {
  padding: .5rem 1rem;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  }
.mail {
  bottom: 2.5%;
  position: relative;
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=956&q=80);
  
    
}
.mail h2{
  color:white;
}
#email {
  width: 19rem;
  padding: 5px;
}
.mail input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #DCAC74;
  color: white;
  border-radius: .5rem
}

/* footer */
footer {
  background-color: #333;
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
  height: 0.2rem;
  position: relative;
  width: 100%;
  bottom: 0;
  min-height: calc(5vh - 40px);
  
}
footer p{
  margin-top: -5px;
  padding-top:x
    position: absolute;
  bottom: 0px;
}

/* This codes creates a sticky footer on wide screens when the content streches and the scroll bar is gone. */
@media only screen and (min-width: 1095px) {
  
  footer {
  background-color: #333;
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
  height: 0.2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  
  
}
  
  .mail {
  bottom: 2.6%;
  position: absolute;
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=956&q=80);
  
    
}
  
}
